.abc{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.box--{
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 100%;
   }
.box--1 {
    padding: 20px;
text-align: center;
width:25%;
}

.box--1 a i{
    width: 72px;
    height: 65px;
    border-radius: 100px;
    background-color: gray;
    padding: 15px;
    transition: all 1s ;
}
.box--1 a i:hover{
    color: red;
    padding-left: 10px;
    
}